<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS.Core" version="7.0.586.24" targetFramework="net45" />
  <package id="EPiServer.Framework" version="7.0.859.24" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>